<form class="form-inline navbar-search" method="post" action="products.html" >
  <select class="srchTxt">
    <option>All</option>
    <option>CLOTHES </option>
    <option>FOOD AND BEVERAGES </option>
    <option>HEALTH & BEAUTY </option>
    <option>SPORTS & LEISURE </option>
    <option>BOOKS & ENTERTAINMENTS </option>
  </select>
  <input type="submit" id="submitButton" class="btn btn-primary" value="Go">
</form>